body,
html {
    background-color: #999999;
}

body {
    border-left: 3px solid #FFF;
}

/*ScrollUp */
#activeWireframe #scrollUp {
    background-image: url("../../static/img/top.png");
    display: block;
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
}

/* custom_pimcore_icon */
#activeWireframe .custom_pimcore_icon[class*="pimcore_icon_"],
#activeWireframe .custom_pimcore_icon[class^="pimcore_icon_"] {
    background-color: #F6F6F6 !important;
    background-size: auto 22px !important;
    background-position: 5px center !important;
    padding-left: 30px;
}

/* #header-wraptop */
#activeWireframe #header-wraptop {
    font: 400 13px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    border-bottom: 3px solid #fff;
    background: #ECECEC;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
    height: 40px;
    box-shadow: 7px 0 1px #222;
}
#activeWireframe .header-wraptop-ghost {
    height: 40px;
}
#activeWireframe #header-wraptop ul {
    padding: 0;
}
#activeWireframe #header-wraptop ul li {
    display: inline-block;
    padding: 1rem;
}
#activeWireframe #header-wraptop ul li.separator {
    padding: 0;
    margin: 0;
    height: 37px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
}
#activeWireframe #header-wraptop a,
#activeWireframe #header-wraptop span,
#activeWireframe #header-wraptop p,
#activeWireframe #header-wraptop .navbar-text {
    color: #606060;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    transition: all 300ms linear;
}
#activeWireframe #header-wraptop li:hover > a,
#activeWireframe #header-wraptop li:focus > a,
#activeWireframe #header-wraptop li:active > a,
#activeWireframe #header-wraptop li:hover > span,
#activeWireframe #header-wraptop li:focus > span,
#activeWireframe #header-wraptop li:active > span,
#activeWireframe .position-thumbs-active > a,
#activeWireframe .position-thumbs-active > span {
    cursor: pointer;
    color: #000;
}

#activeWireframe #input-index-paginator,
#activeWireframe #paginator_recursive {
    width: 260px;
    display: block;
    margin: auto;
    padding: 5px;
}
