/* #page-w2p */
#activeWireframe #page-w2p {
    padding: 50px 0 50px 300px;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

/* #page-global */
#activeWireframe #page-global {
    position: relative;
    background-color: #FFF;
}

#activeWireframe #border-page-global {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid rgb(255, 0, 0);
}

/* #page */
#activeWireframe #page {
    position: absolute;
    top: 5mm;
    left: 5mm;
    background-color: transparent;
}

#activeWireframe #border-page {
    position: absolute;
    width: calc(100% - 10mm);
    height: calc(100% - 10mm);
    top: 5mm;
    left: 5mm;
    border: 1px solid rgb(0, 0, 0);
}

/* #unselected */
#activeWireframe #unselected {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* #page-locked */
#activeWireframe #page-locked {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .box-w2p */
#activeWireframe .box-w2p {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 50mm;
    height: 50mm;
}

#activeWireframe .box-w2p .pimcore_area_entry.pimcore_block_entry.pages-editable,
#activeWireframe .box-w2p .pimcore_area_content,
#activeWireframe .box-w2p .pimcore_editable.pimcore_tag_renderlet,
#activeWireframe .box-w2p .pimcore_editable > .x-panel,
#activeWireframe .box-w2p .pimcore_editable > .x-panel > .x-panel-body,
#activeWireframe .box-w2p .pimcore_editable > .x-panel > .x-panel-body > .x-autocontainer-outerCt {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
}

#activeWireframe .box-w2p .ui-icon,
#activeWireframe .box-w2p .ui-widget-content .ui-icon {
    background-image: none;
}

#activeWireframe .box-w2p:hover > .box-w2p-handle,
#activeWireframe .box-w2p:hover > .ui-rotatable-handle {
    display: block;
    z-index: 100;
}

#activeWireframe .box-w2p.selected:after {
    content: "";
    border: 2px solid #707;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    left: -2px;
}

#activeWireframe .box-w2p.selected .box-w2p-handle {
    display: block !important;
    width: 80% !important;
    left: 10%;
    border: 2px solid #707;
}

#activeWireframe .box-w2p.selected .handle-bottom {
    border-top: none;
    bottom: -22px !important;
}

#activeWireframe .box-w2p.selected .handle-top {
    border-bottom: none;
    top: -22px !important;
}

#activeWireframe .box-w2p.selected > .ui-resizable-handle.ui-resizable-se,
#activeWireframe .box-w2p.selected > .ui-resizable-handle.ui-resizable-sw,
#activeWireframe .box-w2p.selected > .ui-resizable-handle.ui-resizable-ne,
#activeWireframe .box-w2p.selected > .ui-resizable-handle.ui-resizable-nw {
    width: 10px;
    height: 10px;
    background-color: #707;
    position: absolute;
}

#activeWireframe .box-w2p.selected > .ui-rotatable-handle {
    width: 20px;
    cursor: pointer;
    background-image: url('../../img/rotate.png');
    background-size: 100% auto;
    left: calc(10% + 5px);
    bottom: -22px;
    z-index: 101;
    position: absolute;
    height: 20px;
}

/* .box-w2p-container */
#activeWireframe .box-w2p-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:2;
}

/* .box-w2p-full */
#activeWireframe .box-w2p-full {
    position: absolute;
    z-index: 1;
    top: -5mm !important;
    left: -5mm !important;
    bottom: inherit !important;
    right: inherit !important;
}

#activeWireframe .box-w2p-full .pimcore_area_entry.pimcore_block_entry.pages-editable,
#activeWireframe .box-w2p-full .pimcore_area_content {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
}

/* .box-w2p-full-multi */
#activeWireframe .box-w2p-full-multi {
    z-index: 2;
}

/* .w2p-element */
#activeWireframe .w2p-element {
    border: 2px solid transparent;
    cursor: pointer;
    overflow: hidden;
}

#activeWireframe .w2p-element.selected {
    border: 2px solid #000000;
}

#activeWireframe .w2p-element.selected > .ui-resizable-handle.ui-resizable-se,
#activeWireframe .w2p-element.selected > .ui-resizable-handle.ui-resizable-sw,
#activeWireframe .w2p-element.selected > .ui-resizable-handle.ui-resizable-ne,
#activeWireframe .w2p-element.selected > .ui-resizable-handle.ui-resizable-nw {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000000;
}

/* .box-w2p-handle */
#activeWireframe .box-w2p-handle {
    background: url(../../img/draggable.png) 99% no-repeat #ECECEC;
    background-size: 16px, auto;
    position: absolute;
    width: 100%;
    height: 20px;
    cursor: move;
    z-index: 100;
    display: none;
}

#activeWireframe .ui-draggable-dragging .box-w2p-handle {
    opacity: 0.5;
}

#activeWireframe .handle-top {
    top: -20px !important;
}

#activeWireframe .handle-bottom {
    bottom: -20px !important;
}

/* #slider-range-h #slider-range-v */
#activeWireframe #slider-range-h,
#activeWireframe #slider-range-v {
    display: none;
    position: absolute;
    background: rgba(0, 158, 224, 0.2);
}
#activeWireframe #slider-range-h {
    height: 10px;
    width: 100%;
    top: -10px;
    left: 0;
    border: 0;
    border-right: 1px solid transparent;
}
#activeWireframe #slider-range-v {
    width: 10px;
    height: 100%;
    top: 0;
    left: -10px;
    border: 0;
    border-top: 1px solid transparent;
}
#activeWireframe #slider-range-v .slider-handle-v,
#activeWireframe #slider-range-h .slider-handle-h {
    z-index: 1000;
    background: #FF00FF;
    border: 0;
    margin: 0;
}
#activeWireframe #slider-range-h .slider-handle-h {
    width: 1px;
    top: 0;
}
#activeWireframe #slider-range-v .slider-handle-v {
    height: 1px;
    left: 0;
}
#activeWireframe #slider-range-h .ui-state-default,
#activeWireframe #slider-range-h .ui-widget-content .ui-state-default,
#activeWireframe #slider-range-h .ui-widget-header .ui-state-default {
    border: 0;
    cursor: col-resize;
}
#activeWireframe #slider-range-v .ui-state-default,
#activeWireframe #slider-range-v .ui-widget-content .ui-state-default,
#activeWireframe #slider-range-v .ui-widget-header .ui-state-default {
    border: 0;
    cursor: row-resize;
}

#activeWireframe #slider-range-v .ui-slider-values,
#activeWireframe #slider-range-h .ui-slider-values {
    position: absolute;
    color: #000;
    font-size: 8pt;
    width: 50px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}
#activeWireframe #slider-range-h .ui-slider-values {
    top: -15px;
    left: -20px;
}
#activeWireframe #slider-range-v .ui-slider-values {
    top: -8px;
    left: -50px;
}

#activeWireframe #slider-range-v .ui-state-hover,
#activeWireframe #slider-range-v .ui-widget-content .ui-state-hover,
#activeWireframe #slider-range-v .ui-widget-header .ui-state-hover,
#activeWireframe #slider-range-v .ui-state-focus, .ui-widget-content .ui-state-focus,
#activeWireframe #slider-range-v .ui-widget-header .ui-state-focus,
#activeWireframe #slider-range-h .ui-state-hover,
#activeWireframe #slider-range-h .ui-widget-content .ui-state-hover,
#activeWireframe #slider-range-h .ui-widget-header .ui-state-hover,
#activeWireframe #slider-range-h .ui-state-focus, .ui-widget-content .ui-state-focus,
#activeWireframe #slider-range-h .ui-widget-header .ui-state-focus {
    border: 0;
    background: #009EE0;
    color: transparent;
}

/* #number-page */
#activeWireframe #number-page {
    position: absolute;
    bottom: 5mm;
    color: #000;
    font-size: 9pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: normal;
    z-index: 2000;
}

#activeWireframe #number-page.numpageleft {
    left: 5mm;
}

#activeWireframe #number-page.numpageright {
    right: 5mm;
}

/* ui */
#activeWireframe .ui-resizable-se {
    right: -5px;
    bottom: -5px;
    cursor: se-resize;
}
#activeWireframe .ui-resizable-sw {
    left: -5px;
    bottom: -5px;
    cursor: sw-resize;
}
#activeWireframe .ui-resizable-ne {
    right: -5px;
    top: -5px;
    cursor: ne-resize;
}
#activeWireframe .ui-resizable-nw {
    left: -5px;
    top: -5px;
    cursor: nw-resize;
}
#activeWireframe .ui-icon-gripsmall-diagonal-se {
    background-position: -64px -227px;
}

#activeWireframe .ui-corner-all,
#activeWireframe .ui-corner-all {
    border-radius: 0 !important;
}

#activeWireframe .ui-widget-header {
    background: #009EE0 !important;
}

/* Palette flotante */
#activeWireframe .x-window.pimcore_areablock_toolbar {
    background: none repeat scroll 0 0 #222;
    overflow: hidden !important;
    left: 3px !important;
    top: 41px !important;
    width: 214px !important;
    right: auto !important;
    z-index: 1001 !important;
    height: 100% !important;
    max-height: 100% !important;
}
#activeWireframe .x-window.pimcore_areablock_toolbar .x-btn {
    display: block !important;
}
#activeWireframe .x-window.pimcore_areablock_toolbar > .x-window-body {
    width: 210px !important;
    height: calc(100% - 85px) !important;
    left: 0;
    top: 42px;
    overflow-y: auto !important;
}
#activeWireframe .x-window.pimcore_areablock_toolbar > div {
    background: none repeat scroll 0 0 #222;
}
#activeWireframe .x-window.pimcore_areablock_toolbar .x-window-header-title-default {
    padding: 10px;
}
#activeWireframe .x-window.pimcore_areablock_toolbar .x-window-header-default .x-tool-img {
    background-color: transparent;
}
#activeWireframe .x-window.x-window-ghost.x-layer.x-window-default.x-border-box {
    height: 47px !important;
}

/* .pimcore_area_dropzone */
#activeWireframe .pimcore_area_dropzone {
    position: fixed;
    top: 0;
    left: 215px;
    height: 9000px;
    width:9000px;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/* .pimcore_block_buttons */
#activeWireframe .pimcore_block_buttons_pages-editable.pimcore_block_buttons {
    position: absolute;
    z-index: 10;
    padding: 10px;
    opacity: 0.2;
}
#activeWireframe .pimcore_block_buttons_pages-editable.pimcore_block_buttons:hover {
    opacity: 1;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
#activeWireframe .pimcore_block_buttons .pimcore_block_plus,
#activeWireframe .pimcore_block_buttons .pimcore_block_up,
#activeWireframe .pimcore_block_buttons .pimcore_block_down,
#activeWireframe .pimcore_block_buttons .pimcore_block_type,
#activeWireframe .pimcore_block_buttons .pimcore_block_options {
    display: none;
}

/* pimcore_tag_* */
#activeWireframe .pimcore_tag_image_empty::after,
#activeWireframe .pimcore_tag_pdf .pimcore_tag_image_empty::after,
#activeWireframe .pimcore_tag_snippet_empty:after,
#activeWireframe .pimcore_wysiwyg:after {
    position: absolute;
    color: #777;
    font-size: 25px;
    text-align: center;
    top: 15px;
    width: 100%;
    z-index: 1;
}

#activeWireframe .pimcore_tag_image_empty::after {
    content: "Drag image";
}

#activeWireframe .pimcore_tag_pdf .pimcore_tag_image_empty::after {
    content: "Drag PDF";
}

#activeWireframe .pimcore_tag_snippet_empty:after {
    content: "Drag object";
}

#activeWireframe .pimcore_tag_image_empty::before,
#activeWireframe .pimcore_tag_snippet_empty:before,
#activeWireframe .pimcore_wysiwyg:before {
    content: '';
    border: 3px dashed #777;
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    z-index: -1;
}