#activeWireframe #page-global {
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#activeWireframe #unselected {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#activeWireframe #pageIsLocked {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 8000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#box-cropmarks-1 {
    position: absolute;
    width: calc(100% + 2px);
    height: 1px;
    background-color: rgb(255, 0, 0);
    top: -1px;
    left: -1px;
}

#box-cropmarks-2 {
    position: absolute;
    width: calc(100% + 2px);
    height: 1px;
    background-color: rgb(255, 0, 0);
    bottom: -1px;
    left: -1px;
}

#box-cropmarks-3 {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgb(255, 0, 0);
    top: 0;
    left: -1px;
}

#box-cropmarks-4 {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgb(255, 0, 0);
    top: 0;
    right: -1px;
}

#box-page-1 {
    position: absolute;
    width: calc(100% + 2px);
    height: 1px;
    background-color: rgb(0, 0, 0);
    top: -1px;
    left: -1px;
}

#box-page-2 {
    position: absolute;
    width: calc(100% + 2px);
    height: 1px;
    background-color: rgb(0, 0, 0);
    bottom: -1px;
    left: -1px;
}

#box-page-3 {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: -1px;
}

#box-page-4 {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;
    right: -1px;
}


/**
 * Sliders
 */
#activeWireframe .ui-corner-all,
#activeWireframe .ui-corner-all {
    border-radius: 0 !important;
}

#activeWireframe .ui-widget-header {
    background: #009EE0 !important;
}

#activeWireframe #slider-range-h,
#activeWireframe #slider-range-v {
    position: absolute;
    border: none !important;
    background: rgba(0, 158, 224, 0.2);
    box-sizing: content-box;
}

#activeWireframe #slider-range-h {
    top: -10px;
    left: 300px;
    height: 10px;
}

#activeWireframe #slider-range-v {
    top: 1px;
    left: 290px;
    width: 10px;
}

#activeWireframe #slider-range-v .slider-handle-v,
#activeWireframe #slider-range-h .slider-handle-h {
    z-index: 1000;
    border: none !important;
    background: #FF00FF !important;
    margin: 0 !important;
}

#activeWireframe #slider-range-h .slider-handle-h {
    width: 1px;
    top: 0 !important;
}

#activeWireframe #slider-range-v .slider-handle-v {
    height: 1px;
    left: 0 !important;
}

#activeWireframe #slider-range-h .ui-state-default,
#activeWireframe #slider-range-h .ui-widget-content .ui-state-default,
#activeWireframe #slider-range-h .ui-widget-header .ui-state-default {
    border: none !important;
    cursor: col-resize !important;
}

#activeWireframe #slider-range-v .ui-state-default,
#activeWireframe #slider-range-v .ui-widget-content .ui-state-default,
#activeWireframe #slider-range-v .ui-widget-header .ui-state-default {
    border: none !important;
    cursor: row-resize !important;
}

#activeWireframe .ui-state-hover,
#activeWireframe .ui-widget-content .ui-state-hover,
#activeWireframe .ui-widget-header .ui-state-hover,
#activeWireframe .ui-state-focus, .ui-widget-content .ui-state-focus,
#activeWireframe .ui-widget-header .ui-state-focus {
    border: none !important;
    background: #009EE0 !important;
    color: transparent !important;
}

#activeWireframe .ui-slider-values {
    position: absolute;
    color: #000;
    font-size: 8pt;
    width: 50px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
}

#activeWireframe #slider-range-h .ui-slider-values {
    top: -19px;
    left: -25px;
}

#activeWireframe #slider-range-v .ui-slider-values {
    top: -8px;
    left: -55px;
}

#activeWireframe #slider-range-h,
#activeWireframe #slider-range-v {
    display: none;
}

/* Area */
#activeWireframe .poignee {
    background: url(../../img/draggable.png) 99% no-repeat #ECECEC;
    background-size: 16px, auto;
    position: absolute !important;
    width: 100% !important;
    height: 20px !important;
    cursor: move !important;
    z-index: 100;
    display: none;
}

#activeWireframe .ui-draggable-dragging .poignee {
    opacity: 0.5;
}

#activeWireframe .poignee-top {
    top: -20px !important;
}

#activeWireframe .poignee-bottom {
    bottom: -20px !important;
}

#activeWireframe .box-w2p.selected .poignee {
    display: block !important;
    width: 80% !important;
    left: 10%;
    border: 2px solid #707;
}

#activeWireframe .box-w2p.selected .poignee-bottom {
    border-top: none;
    bottom: -22px !important;
}

#activeWireframe .box-w2p.selected .poignee-top {
    border-bottom: none;
    top: -22px !important;
}

#activeWireframe .box-w2p.selected {
    border: 2px solid #707;
}

/* jQuery UI Resize */
#activeWireframe .box-w2p.selected > .ui-resizable-handle.ui-resizable-se,
#activeWireframe .box-w2p.selected > .ui-resizable-handle.ui-resizable-sw,
#activeWireframe .box-w2p.selected > .ui-resizable-handle.ui-resizable-ne,
#activeWireframe .box-w2p.selected > .ui-resizable-handle.ui-resizable-nw {
    width: 10px;
    height: 10px;
    background-color: #707;
    position: absolute;
}

#activeWireframe .ui-resizable-se {
    right: -5px;
    bottom: -5px;
    cursor: se-resize;
}

#activeWireframe .ui-resizable-sw {
    left: -5px;
    bottom: -5px;
    cursor: sw-resize;
}

#activeWireframe .ui-resizable-ne {
    right: -5px;
    top: -5px;
    cursor: ne-resize;
}

#activeWireframe .ui-resizable-nw {
    left: -5px;
    top: -5px;
    cursor: nw-resize;
}

#activeWireframe .box-w2p .ui-icon,
#activeWireframe .box-w2p .ui-widget-content .ui-icon {
    background-image: none;
}

#activeWireframe .box-w2p.selected > .ui-rotatable-handle {
    width: 20px;
    cursor: pointer;
    background-image: url('../../img/rotate.png');
    background-size: 100% auto;
    left: calc(10% + 5px);
    bottom: -22px;
    z-index: 101;
    position: absolute;
    height: 20px;
}

#activeWireframe .box-w2p:hover > .poignee,
#activeWireframe .box-w2p:hover > .ui-rotatable-handle {
    display: block !important;
    z-index: 500;
}

#activeWireframe .ui-icon-gripsmall-diagonal-se {
    background-position: -64px -227px;
}

#activeWireframe .element-w2p {
    border: 2px solid transparent;
    cursor: pointer;
    overflow: hidden;
}

#activeWireframe .element-w2p.selected {
    border: 2px solid #000000;
}

/* jQuery UI Resize */
#activeWireframe .element-w2p.selected > .ui-resizable-handle.ui-resizable-se,
#activeWireframe .element-w2p.selected > .ui-resizable-handle.ui-resizable-sw,
#activeWireframe .element-w2p.selected > .ui-resizable-handle.ui-resizable-ne,
#activeWireframe .element-w2p.selected > .ui-resizable-handle.ui-resizable-nw {
    width: 10px;
    height: 10px;
    background-color: #000000;
    position: absolute;
}